@import "../../styles/mixins";
.purchasing-processes__input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.purchasing-processes__input {
  width: 100%;
  border: 1px solid #c0bfbf;
  height: 35px;
  border-radius: 5px;
}
.purchasing-processes__error {
  outline: 2px solid #b70101 !important;
}
.purchasing-processes__label {
  display: inline-block;
  color: #595959;
  font-size: 0.9em;
  margin-bottom: 20px;
}
