@import "../../styles/mixins";
.order-info {
  padding: 20px 20px;
  .order-info__title {
    font-weight: 500;
    margin: 0;
  }
  .order-info__container {
    @include flex(center, center, row);
    .order-info__customer {
      max-width: 600px;
      width: 60%;
      box-shadow: 0 3px 13px -1px #0000003e;
      border-radius: 15px;
      margin-left: 15px;
      padding: 20px;
      height: 200px;
    }
    .order-info__specifications {
      @include flex(flex-start, flex-start, column);
      margin-top: 15px;
      .order-info__specifications-item {
        font-size: 0.9em;
        color: #595959;
        margin-top: 0;
        margin-bottom: 5px;
        .order-info__specifications-data {
          margin-right: 10px;
        }
      }
    }
  }
  .order-info__product {
    max-width: 400px;
    width: 40%;
    height: 200px;
    box-shadow: 0 3px 13px -1px #0000003e;
    border-radius: 15px;
    margin-right: 15px;
    padding: 20px;
    .order-info__product-specifications-titles {
      @include flex(space-between, center, row);
      margin-top: 10px;
      padding-bottom: 8px;
      border-bottom: 1px solid #59595949;
    }
    .order-info__product-specifications-title {
      font-size: 0.9em;
      font-weight: 500;
      color: #595959;
      margin: 0;
    }
    .order-info__product-specifications-content {
      @include flex(space-between, center, row);
      margin-top: 8px;
    }
    .order-info__product-specifications-info {
      @extend .order-info__product-specifications-title;
    }
    .order-info__total-cost {
      @include flex(space-between, center, row);
      margin-top: 30px;
      padding-bottom: 8px;
      border-bottom: 1px solid #59595949;
      .order-info__total-cost-amount {
        font-size: 0.9em;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}

.button-container {
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .order-info {
    .order-info__container {
      @include flex(center, center, column);
      width: 60%;
      margin: auto;
      .order-info__customer {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px !important;
      }
      .order-info__product {
        max-width: 600px;
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .button-container {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 750px) {
  .order-info {
    .order-info__container {
      width: 72%;
      .order-info__customer {
        height: 170px;
      }
    }
  }

  .button-container {
    width: 72%;
  }
}
@media screen and (max-width: 500px) {
  .order-info {
    .order-info__container {
      width: 90%;
      .order-info__product-specifications-title {
        font-size: 0.8em;
      }
      .order-info__specifications-item {
        font-size: 0.8em;
      }
    }
  }
  .button-container {
    width: 90%;
  }
}
