@import "../../../styles/mixins";
.footer {
  margin-top: 40px;
  padding: 10px;
  background-color: #ffc301;
}
.footer__social-medias {
  @include flex(center, center, row);
}
.footer__social-media-icon {
  width: 30px;
  margin: 0 8px;
}
.footer__copywrite {
  text-align: center;
}
.footer__copywrite-text {
  font-size: 0.9em;
  margin: 0;
}
