@import "../../styles/color-variables";
.purchasing-processes__input-box {
  width: 35%;
  max-width: 500px;
  border: 1px solid rgb(162, 162, 162);
  border-radius: 15px;
  padding: 20px;
  margin-top: 40px;
  .purchasing-processes__title {
    width: fit-content;
    margin: auto;
    color: $secondary-color;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 900px) {
  .purchasing-processes__input-box {
    width: 42%;
  }
}
@media screen and (max-width: 750px) {
  .purchasing-processes__input-box {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .purchasing-processes__input-box {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .purchasing-processes__input-box {
    width: 80%;
  }
}
