@import "../../styles/color-variables";
.purchasing-processes__input {
  width: 100%;
  border: 1px solid #c0bfbf;
  height: 35px;
  border-radius: 5px;
  &:focus {
    outline: 2px solid $secondary-color;
    border: 0;
  }
}

.purchasing-processes__input::-webkit-outer-spin-button,
.purchasing-processes__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.purchasing-processes__error {
  outline: 2px solid #b70101 !important;
}
.purchasing-processes__label {
  display: inline-block;
  color: #595959;
  font-size: 0.9em;
  margin-bottom: 20px;
}
