@import "../../styles/mixins";
.purchasing-processes__input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.extra-info-section {
  height: 100vh;
  @include flex(center, center, row);
}
